
@{
    ViewBag.Title = "EgitimBilgilerim";
}

<h2>Eğitim Bilgilerim</h2>



<!-- Header-->
<div class="jumbotron ust">
    <div class="container">

        <h2>Murat GÖKTAŞ</h2>
        <div class="text-left"><img src="~/img/vesikalikResimMurat4.png" alt="bootstrap" /></div>
        <h2>Eğitim  Bilgilerim</h2>
        <p class="f2">
            <ul style="border:2px solid tomato;">
                <li style="border:2px solid DodgerBlue;background-color: lightblue;"> Seka Çocuk Dostları İlkokulu - 1980 - İlkokul-Mezun</li>
                <li style="border:2px solid DodgerBlue;"> Tüpraş 50. Yıl Lisesi Orta Okulu - 1988 - Ortaokul-Mezun</li>
                <li style="border:2px solid DodgerBlue;background-color: lightblue; "> Hereke NUh Çimento Teknik Lisesi <b style="background-color: DodgerBlue;">BİLGİSAYAR PROGRAMCILIĞI</b> - 1992 - <b style="background-color:forestgreen;">Lise-Mezun</b></li>
                <li style="border:2px solid DodgerBlue;"> ANADOLU ÜNİVERSİTESİ FEN FAKÜLTESİ <b style="background-color: DodgerBlue;">MATEMATİK</></b> -1993 - <b style="background-color:lightcoral;">Lisans -Terk</b></li>
                <li style="border:2px solid DodgerBlue;background-color: lightblue; "> DUMLUPINAR ÜNİVERSİTESİ PAZARLAR MESLEK YÜKSEKOKULU <b style="background-color: DodgerBlue;">BİLGİSAYAR PROGRAMCILIĞI</b> - Ekim1995 - <b style="background-color:forestgreen;">Ön Lisans -Mezun</b></li>
                <li style="border:2px solid DodgerBlue;"> SAKARYA ÜNİVERSİTESİ MÜHENDİSLİK FAKÜLTESİ <b style="background-color: DodgerBlue;">BİLGİSAYAR MÜHENDİSLİĞİ</></b> - Eylül2001 -  <b style="background-color:forestgreen;">Lisans -Mezun</li>
            </ul>
        </p>

        <!--    <a class="btn btn-danger btn-lg" role="button"><b class="glyphicon glyphicon-edit f2"></b>&nbsp;&nbsp; Ana Sayfa &nbsp;&nbsp;</a> -->
    </div>
</div>

<div class="ana">