
@{
    ViewBag.Title = "iletisimBilgilerim";
}

<h2>İletişim Bilgilerim</h2>


<!-- Ana menü-->

<div class="col-xs12 col-sm-6 col-md-12">
    <div class="col-xs12 col-sm-12 col-md-4" style="border: 2px solid Tomato; background-color: lightblue;">
        <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item">
                <!--  <div class="text-orta"><img src="~/img/çelikHalatLogo.png" alt="bootstrap" /></div>-->
                <h4 class="list-group-item-heading">ADRES VE TELEFONUM</h4>
                <p class="list-group-item-text f3">
                    <ul>
                        <li>Ev Adresi: Fatih Mah. Barış Cad.
                <p>No:80 k:5 d:10</p>
                <p>Kuruçeşme /İzmit Kuruçeşme</p>
                </li>

                <li>Cep Telefonu: +90 (555) 492-04 55 </li>
                <li><p>E-Posta : mcs.goktas@gmail.com</p><p>muratgoktas@biryetmez.com</p></li>

                </ul>
                </p>
                <!--   <br /><div class="text-orta"><button id="uyari" class="btn btn-danger" type="button">Devam <b class="glyphicon glyphicon-chevron-right f3"></b></button></div> -->
            </a>
        </div>
    </div>
    <div class="col-xs12 col-sm-12 col-md-4" style="border: 2px solid Tomato; background-color: lightblue;">
        <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item">
                <!--  <div class="text-orta"><img src="~/img/çelikHalatLogo.png" alt="bootstrap" /></div>-->
                <h4 class="list-group-item-heading">ALTERNATİF İLETİŞİM</h4>
                <p class="list-group-item-text f3">
                    <ul>
                        <li>Adı Soyadı: BİRGÜL GÖKTAŞ</li>
                        <Li>Yakınlık Durumu : EŞİM </Li>
                        <li>Cep Telefonu: +90 (505) 475-32 52 </li>
                        <li>
                <p>E-Posta : brgctn@hotmail.com</p></li>

                </ul>
                </p>
                <!--  <br /><div class="text-orta"><button id="uyari" class="btn btn-danger" type="button">Ana Sayfa <b class="glyphicon glyphicon-chevron-right f3"></b></button></div>-->
            </a>
        </div>
    </div>

</div>
