

<h2>Ön Yazım</h2>


<div class="jumbotron ust">
    <div class="container">

        <h2>Murat GÖKTAŞ</h2>
        <div class="text-right"><img src="~/img/vesikalikResimMurat4.png" alt="bootstrap" /></div>
        <h3>Ön Sözü</h3>

        <p class="f2">
            20 seneyi aşan eğitim hayatım boyunca hep en iyisini yapabilirim diye çaba sarf ettim ve hedefime ulaştım.
            Eğitim hayatım ve tecrübelerim doğrultusunda farklı insanlarla birlikte çalışma, bir takımda yer alma ve birlikte üretebilmeyi
            öğrenme fırsatım oldu. Bu nedenle takımınıza kolaylıkla adapte olacağımı düşünüyorum. İşini severek yapan ve detayları
            çok önemseyen biriyim. İnsan ilişkileri noktasında esnek olmanın bana verimlilik olarak geri döndüğünü sıklıkla tecrübe ettim.
            Yeni şeyler öğrenmeyi &#34;Çocuğun bile öğretecek bilgisi vardır.&#34; felsefesiyle, yeteneklerimi geliştirmeyi çok önemsiyor,
            bu amaçla insan ilişkilerinin öğreticiliğinden faydalanmak gerektiğini düşünüyorum. Ekibimdeki insanlarla bilgi alışverişinde
            bulunmak benim için bu nedenle çok önemli. Fikir geliştirmenin zihni, dolayısıyla bedeni sürekli aktif tuttuğunun bilincinde olarak
            hem iş hem de bireysel hayatta yaratıcı olmanın önemli olduğunu düşünüyorum. Sık sık not aldığım taze fikirlerim var ve bunu kurumunuza
            katkıda bulunma noktasında kullanmak için sabırsızlanıyorum.
        </p>
        <!--  <a class="btn btn-danger btn-lg" role="button"><b class="glyphicon glyphicon-edit f2"></b>&nbsp;&nbsp; Konuya Git &nbsp;&nbsp;</a>  -->
    </div>
</div>

		</div>

