
@{
    ViewBag.Title = "IsBilgilerim";
}

<h2>İş Tecrübelerim</h2>

<!-- Ana menü-->

<div class="col-xs12 col-sm-6 col-md-12" >
    <div class="col-xs12 col-sm-12 col-md-4" style="border: 2px solid Tomato; background-color: lightblue;" >
        <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item">
                <div class="text-orta"><img src="~/img/çelikHalatLogo.png" alt="bootstrap" /></div>
                <h4 class="list-group-item-heading">ÇELİK HALAT VE TEL SAN. A.Ş.</h4>
                <p class="list-group-item-text f3">
                    <ul>
                        <li>Statü: Destek Mühendisi</li>
                        <li>Faaliyet Alanı : Bilişim Teknolojileri</li>
                        <li>Çalışma Alanı: Özel Sektör</li>
                        <li>Şehir: Kocaeli</li>
                        <li>Çalışma Şekli: Tam Zamanlı</li>
                        <li>Çalışma Yılları : 2004- 2013</li>
                        <li>İşten Ayrılma Sebebi: ORTAK OLARAK KENDİ İŞLETMEMİ AÇMIŞTIM</li>
                        <li>Web Sitesi: http://www.celikhalat.com.tr </li>
                        <li>İş Tanımı: BİLGİ TEKNOLOJİLERİ, YAZILIM VE DONANIM GELİŞTİRMELERİ,PROJE TEKNİK DESTEK MÜHENDİSİ.</li>
                    </ul>
                </p>
                <!--  <br /><div class="text-orta"><button id="uyari" class="btn btn-danger" type="button">Devam <b class="glyphicon glyphicon-chevron-right f3"></b></button></div> -->
            </a>
        </div>
    </div>
    <div class="col-xs12 col-sm-12 col-md-4" style=" border: 2px solid Tomato;background-color: lightblue;">
        <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item">
                <div class="text-orta"><img src="~/img/millieğitimlogo.png" alt="bootstrap" /></div>
                <h4 class="list-group-item-heading">KARŞIYAKA ZÜBEYDE HANIM İLK ÖĞRT. OKULU</h4>
                <p class="list-group-item-text f3">
                    <ul>
                        <li>Statü: Bilgisayar Öğretmeni (Ş)</li>
                        <li>Faaliyet Alanı : Eğitim Kurumu</li>
                        <li>Çalışma Alanı: Kamu Sektör</li>
                        <li>Şehir: İzmir</li>
                        <li>Çalışma Şekli: Tam Zamanlı</li>
                        <li>Çalışma Yılları : 2004- 2004</li>
                        <li>İşten Ayrılma Sebebi: Ücreti Yeterli Değildi.</li>
                        <li>Web: http://kyakazubeydehanim.meb.k12.tr </li>
                        <li>İş Tanımı: SÖZLEŞMELİ ÖĞRETMENLİĞİN PİLOT BÖLGE UYGULAMASI SEÇİLEN OKULDA BİLGİSAYAR ÖĞRETMENLİĞİ YAPTIM.</li>
                    </ul>
                </p>
                <!--  <br /><div class="text-orta"><button id="uyari" class="btn btn-danger" type="button">Devam <b class="glyphicon glyphicon-chevron-right f3"></b></button></div> -->
            </a>
        </div>
    </div>
    <div class="col-xs12 col-sm-12 col-md-4" style=" border: 2px solid Tomato;background-color: lightblue;">
        <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item">
                <div class="text-orta"><img src="~/img/Robosislogo.png" alt="bootstrap" /></div>
                <h4 class="list-group-item-heading">ROBOSİS ROBOT SİS. ARAŞTIRMA HİZ. A.Ş (GÜNCEL FİRMA:ASİS A.Ş.)</h4>
                <p class="list-group-item-text f3">
                    <ul>
                        <li>Statü: Destek Elemanı </li>
                        <li>Faaliyet Alanı : Bilişim Teknolojileri</li>
                        <li>Çalışma Alanı: Özel Sektör</li>
                        <li>Şehir: Kocaeli</li>
                        <li>Çalışma Şekli: Tam Zamanlı</li>
                        <li>Çalışma Yılları : 1995- 1995</li>
                        <li>İşten Ayrılma Sebebi: Üniversite için il dışına çıktım.</li>
                        <li>Web Sitesi: https://www.asis.com.tr/ güncel web adresi. </li>
                        <li>İş Tanımı: BİLGİSAYAR YAZILIM VE TEKNİK SERVİS HİZMETLERİ.</li>
                    </ul>
                </p>
                <!--  <br /><div class="text-orta"><button id="uyari" class="btn btn-danger" type="button">Devam <b class="glyphicon glyphicon-chevron-right f3"></b></button></div> -->
            </a>
        </div>
    </div>
</div>
<div class="col-xs12 col-sm-6 col-md-12">
    <div class="col-xs12 col-sm-12 col-md-4" style=" border: 2px solid Tomato;background-color: lightblue;">
        <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item">
                <div class="text-orta"><img src="~/img/css-icon.png" alt="bootstrap" /></div>
                <h4 class="list-group-item-heading">SERTÇETİN BİL. ELİF SERTÇETİN</h4>
                <p class="list-group-item-text f3">
                    <ul>
                        <li>Statü: Destek Uzmanı </li>
                        <li>Faaliyet Alanı : Bilişim Teknolojileri</li>
                        <li>Çalışma Alanı: Özel Sektör</li>
                        <li>Şehir: Kocaeli</li>
                        <li>Çalışma Şekli: Tam Zamanlı</li>
                        <li>Çalışma Yılları : 1995- 1995</li>
                        <li>İşten Ayrılma Sebebi:  Üniversiteden mezun oldum. Askere Gittim.</li>
                        <li>Web Sitesi: Güncel web adresi yok. </li>
                        <li>İş Tanımı: BİLGİSAYAR YAZILIM VE TEKNİK SERVİS HİZMETLERİ.</li>
                    </ul>
                </p>
                <!-- <br /><div class="text-orta"><button id="uyari" class="btn btn-danger" type="button">Devam <b class="glyphicon glyphicon-chevron-right f3"></b></button></div> -->
            </a>
        </div>
    </div>
    
    <div class="col-xs12 col-sm-12 col-md-4" style=" border: 2px solid Tomato;background-color: lightblue;">
        <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item">
                <div class="text-orta"><img src="~/img/biryetmezlogoSmall.png" alt="bootstrap" /></div>
                <h4 class="list-group-item-heading">BİRYETMEZ LTD. ŞTİ.</h4>
                <p class="list-group-item-text f3">
                    <ul>
                        <li>Statü:Genel Müd. Yrd. </li>
                        <li>Faaliyet Alanı : Bilişim Teknolojileri,Danışmanlık,</li>
                        <li>Gıda,Çelik,Endüstriyel Tem.</li>
                        <li>Çalışma Alanı: Özel Sektör(Ortak açtığım firma</li>
                        <li>Şehir: Kocaeli-Muğla</li>
                        <li>Çalışma Şekli: Tam Zamanlı</li>
                        <li>Çalışma Yılları : 2011- </li>
                        <li>Web Sitesi: https://www.biryetmez.com/ güncel web sitesi. </li>
                        <li>İş Tanımı: Yöneticilik.</li>
                    </ul>
                    <!-- <br /><div class="text-orta"><button id="uyari" class="btn btn-danger" type="button">Ana Sayfa <b class="glyphicon glyphicon-chevron-right f3"></b></button></div> -->
</a>
        </div>
    </div>
</div>

