
@{
    ViewBag.Title = "KisiselBilgilerim";
}

<h2>Kişisel Bilgilerim</h2>

<!-- Ana menü-->


<!-- Header-->
<div class="jumbotron ust">
    <div class="container">
        <h2>Murat GÖKTAŞ</h2>
        <!-- <div class="text-sag"><img src="images/vesikalikResimMurat4.png" alt="bootstrap" /></div>-->
        <div class="text-left"><img src="~/img/vesikalikResimMurat4.png" alt="bootstrap" /></div>
        <h2>Kişisel Bilgilerim</h2>
        <p class="f2">
            <ul >
                <li><p>Ad Soyad :Murat GÖKTAŞ</p></li>
                <li><p>Doğum Tarihi:2 Aralık 1974</p></li>
                <li><p>Doğum Yeri:Şenkaya/Erzurum</p></li>
                <li><p>Medeni Hali:Evli</p></li>
                <li><p>Askerlik Durumu:Asteğmen olarak yapıldı.</p></li>
                <li><p>Üyelikler: Akut Derneği (Kocaeli İletişim Lojistik), Akut Vakfı</p></li>
                <li><p>
                        <ul>
                             Hobilerim ve İlgi Alanlarım:
                             <li>Akut Arama Kurtarma Operasyonları.</li>
                             <li>Kara kalem amatör çizim</li>
                             <li>Mekatronik</li>
                        </ul>
                    </p>
   
                </li>
           </ul>
       </p>


        <a class="btn btn-danger btn-lg" role="button"><b class="glyphicon glyphicon-edit f2"></b>&nbsp;&nbsp; Ana Sayfa &nbsp;&nbsp;</a>
    </div>
</div>

<div class="ana">